#home{
    width: 100%;
    height: 95vh;
    display: flex;

    > section{
        width: 100%;
        &:first-of-type{
            padding-left: $p;
            >div{
                border-top: 1px solid $color6_2;
                height: 100%;
                padding-top: 2rem;
                >h1{
                    font: 400 3.5rem $text1;
                }

                .typewriterpara{
                    margin-top: 2px;
                    margin-bottom: 15px;
                    height: 15px;
                    letter-spacing: 5px;
                }
                > div{
                    display: flex;
                    margin: 1rem 0;
                    width: 70%;
                    gap: 4rem;
                    align-items: center;
                    // > button{
                    //         background-color: $color3;
                    //         color: $color1;
                    //         padding: 0.8rem 2rem;
                    //         transition: all 0.3s;
                    //         margin-top: 3rem;
                    //         border: none;
                    //         cursor: pointer;

                    //         &:hover{
                    //             background-color: $color3_1;
                    //         }
                    // }
                    > a{
                        &:first-of-type{
                            background-color: $color3;
                            color: $color1;
                            padding: 0.8rem 2rem;
                            transition: all 0.3s;
                            margin-top: 3rem;
                            &:hover{
                                background-color: $color3_1;
                            }
                        }
                        &:last-of-type{
                            font: 500 1.2rem $text2;
                            color: $color5;
                            display: flex;
                            align-items: center;
                            margin-top: 3rem;
                        }
                    }
                }
                aside{
                    width: 80%;
                    display: flex;
                    justify-content: space-between;
          
                }
                article {
                    margin: 0.5rem 0;
                    width: 10rem;
                    color: $color5;
                    position: relative;
                    padding-left: 0rem;
                    padding-top: 1.5rem;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
          
                    &::after {
                      content: "";
                      background-color: $color4;
                      width: 100%;
                      height: 5rem;
                      border-radius: 50px;
                      position: absolute;
                      top: 20%;
                      left: 0%;
                      z-index: -1;
                    }
                    > p {
                      font: 900 1.8rem $text1;
                      
                    
                      
                    }
                    > span {
                      font: 500 1rem $text2;
                      
                    }
                  }
          
                  article[data-special] {
                    width: 13rem;
                    // padding-left: 0.5rem;
                    padding-right: 1.5rem;
                    padding-top: 1.5rem;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    
                  }
                
              
            }
        }
        &:last-of-type{
            border-top: 1px solid $color6_2;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: center;
            overflow-x: hidden;

            &::after{
                content: "";
                width: 40vmax;
                height: 40vmax;
                background-color: $color3;
                position: absolute;
                z-index: -1;
                border-radius: 50%;
            }

            > img{
                width: 40vmax;
                object-fit: contain;
                height: 45vmax;
            }
        }
        
    }
    >svg{
        position: absolute;
        font-size: 2.5rem;
        color: $color5;
        left: 50%;
        bottom: 5%;
        transform: translate(-50%);
        animation: animate 0.7s infinite linear alternate;
    }

}